__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*
.ipynb_checkpoints/

data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/**/.gitkeep
!data/**/README.md
figures/*
models/*
!models/README.md
paper/*
reports/*
!reports/README.md
# !reports/figures/
# !reports/figures/.gitkeep

runs/
logs/
mlruns/
outputs/
checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/
